<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>static/styles.css">
  <title>Electronic Verification</title>

  <!-- Apple doesn't use the manifest yet.. this is required for app icon to work! -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/logo_57.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/logo_152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/logo_180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/static/images/icons/logo_167.png">
  <!-- Android Devices High Resolution -->
  <link rel="icon" sizes="192x192" href="/static/images/icons/logo_hd.png">
  <!-- Android Devices Normal Resolution -->
  <link rel="icon" sizes="128x128" href="/static/images/icons/logo.png">
</head>

<body>
  <i class="fa fa-wifi no-wifi hide" id="no-wifi">
    <i class="fa fa-exclamation"></i>
  </i>
  <span class="notifi-badge hide" id="notifi"></span>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
